<footer class="footer" id="footer">
      <div class="footer__container">
        <ul class="footer__social-links">
          <li class="footer__item">
            <a
              href="https://twitter.com/home"
              class="footer__link"
              target="_blank"
              title="x"
              rel="noopener"
            >
              <svg class="footer__icon">
                <use xlink:href="{{ url_for('static', filename='img/sprite.svg') }}#icon-x"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              href="https://www.linkedin.com/in/elena-murga-27710b1a4"
              class="footer__link"
              target="_blank"
              title="linkedin"
              rel="noopener"
            >
              <svg class="footer__icon">
                <use xlink:href="{{ url_for('static', filename='img/sprite.svg') }}#icon-linkedin2"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="copyright txt-center">
          &copy; <span class="year">2023</span> {{ _('by Elena Murga. All rights
          reserved. Illustrations by') }}
          <a
            href="https://icons8.com/illustrations/author/zD2oqC8lLBBA"
            target="_blank"
            title="icons8"
            rel="noopener"
            >Icons 8</a
          >
          from
          <a
            href="https://icons8.com/illustrations"
            target="_blank"
            title="icons8"
            rel="noopener"
            >Ouch!</a
          >
        </p>
        <svg class="footer__icon-heart">
          <use xlink:href="{{ url_for('static', filename='img/sprite.svg') }}#icon-heart"></use>
        </svg>
      </div>
    </footer>