<header class="header" id="#header">
    <nav class="nav">
        <ul class="nav__list nav__list--blur txt-center">
            <li class="nav__item">
                <a href="{{ url_for('main.home') }}" class="nav__link">{{ _('Home') }}</a>
            </li>
            <li class="nav__item">
                <a href="{{ url_for('main.about') }}#about" class="nav__link">{{ _('About') }}</a>
            </li>
            <li class="nav__item">
                <a href="{{ url_for('main.features') }}#features" class="nav__link">{{ _('Services') }}</a>
            </li>
            <li class="nav__item">
                <a href="{{ url_for('main.contact') }}#cta" class="nav__link">{{ _('Contact') }}</a>
            </li>
            <li class="nav__item">
                {% if session.get('language') == 'en' %}
                    <a href="{{ url_for('main.set_language', language='es') }}?v={{ timestamp }}" class="nav__link nav__link--es" title="Traducir">ES</a>
                {% else %}
                    <a href="{{ url_for('main.set_language', language='en') }}?v={{ timestamp }}" class="nav__link nav__link--en" title="Translate">EN</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
